.Header{
    display: flex;
    height:40px;
    padding:0px 10px;
    justify-content: space-between;
    background-color: #232f3e;
} 
.all{
    display: flex;
    align-items: center;
    justify-content:center;
}
.Header > * > button{
    width: max-content;
    color: white;
    font-size: 14px;
    background-color:transparent;
    padding:0px;
    margin:0px;
    height: 100%;
    border: 1.5px solid transparent;
}
.Header > * > button:hover{
    border: 1.5px solid white;
}
@media screen and (max-width:1000px){
    .history{
        display: none
    }
}
