.location{
    display: flex;
    align-items: center;
    margin:0px;
    padding:0px
}
.deliver{
    min-width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media  screen and (max-width:600px){
    .deliver{
        display: none;
    }
}