.content{
    width:100%;
    padding : 0px 0px;
}
@media only screen and (max-width: 900px) {
    .content {
      width:fit-content;
    }
  }
  @media only screen and (max-width: 600px) {
    .content {
      width:100%;
    }
  }
.App{
  display:flex;
}  
.Menu {
  display:none;
  width: 350px;
}
.show{
  display: block;
  width: 350px;
  
}